* {
  margin: 0;
  padding: 0;
}
*:not(i):not(.fa) {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.containerSteps {
  text-align: center;
}
.containerSteps .steps ul .active {
  background: #5e83fc;
  color: #fff;
}
.containerSteps .steps ul .active:before {
  background-color: #d8d8d8;
}

/* For 1920x1080 (big screens) */
@media screen and (min-width: 1800px) {
  .list1 {
    margin-right: 15%;
  }
  .list2 {
    margin-left: 12%;
  }
  .list3 {
    margin-left: 28%;
  }
  .containerSteps .steps ul li {
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;
    line-height: 4.2rem;
    border-radius: 100%;
    background: #d8d8d8;
    position: relative;
  }
  .containerSteps .steps ul li:first-child:before {
    display: none;
  }
  .containerSteps .steps ul li:before {
    content: "";
    width: 18.5vw;
    background-color: #d8d8d8;
    height: 2px;
    position: absolute;
    top: 2rem;
    left: -18.5vw;
  }
  .regularPrice {
    font-size: 60px !important;
  }
}

/* If the screen size is 601px wide or more */
@media screen and (min-width: 601px) and (max-width: 1679px) {
  .list1 {
    margin-right: 15%;
  }
  .list2 {
    margin-left: 12%;
  }
  .list3 {
    margin-left: 28%;
  }
  .containerSteps .steps ul li {
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;
    line-height: 4.2rem;
    border-radius: 100%;
    background: #d8d8d8;
    position: relative;
  }
  .containerSteps .steps ul li:first-child:before {
    display: none;
  }
  .containerSteps .steps ul li:before {
    content: "";
    width: 19.2vw;
    background-color: #d8d8d8;
    height: 2px;
    position: absolute;
    top: 2rem;
    left: -19.2vw;
  }
}
/* For the regular desktop screens */
@media screen and (min-width: 1679px) and (max-width: 1799px) {
  .list1 {
    margin-right: 15%;
  }
  .list2 {
    margin-left: 12%;
  }
  .list3 {
    margin-left: 28%;
  }
  .containerSteps .steps ul li {
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;
    line-height: 4.2rem;
    border-radius: 100%;
    background: #d8d8d8;
    position: relative;
  }
  .containerSteps .steps ul li:first-child:before {
    display: none;
  }
  .containerSteps .steps ul li:before {
    content: "";
    width: 19.4vw;
    background-color: #d8d8d8;
    height: 2px;
    position: absolute;
    top: 2rem;
    left: -19.4vw;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  .list1 {
    margin-right: 11%;
  }
  .list2 {
    margin-left: 12%;
  }
  .list3 {
    margin-left: 24.2%;
  }
  .containerSteps .steps ul li {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 100%;
    background: #d8d8d8;
    position: relative;
  }
  .containerSteps .steps ul li:first-child:before {
    display: none;
  }
  .containerSteps .steps ul li:before {
    content: "";
    width: 20.2vw;
    background-color: #d8d8d8;
    height: 2px;
    position: absolute;
    top: 1.5rem;
    left: -20.2vw;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  .containerSteps .steps ul li:before {
    content: "";
    width: 20.5vw;
    background-color: #d8d8d8;
    height: 2px;
    position: absolute;
    top: 2rem;
    left: -20.5vw;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .about-me-p {
    font-size: 1.3em;
  }
}

@media (min-width: 1600px) and (max-width: 1700px) {
  .about-me-p {
    font-size: 1.5em;
  }
}

/* For 1920x1080 (big screens) */
@media screen and (min-width: 1800px) {
  .about-me-p {
    font-size: 1.7em;
  }
  .cc {
    font-size: 18px !important;
  }
}

/* If the screen size is 1025px wide or more */
@media screen and (min-width: 1025px) {
  .logo {
    z-index: 9999;
    position: absolute;
    top: 15px;
    left: 5px;
  }
  h3 {
    color: #5e83fc !important;
    margin-top: -10px;
    font-weight: 500;
    font-size: 28px;
  }
  h2 {
    color: #000 !important;
    font-weight: 500;
    font-size: 28px;
    margin: 60px 0 60px 0px;
  }
  .sliderTitle {
    color: #000 !important;
    font-weight: 700;
    font-size: 30px;
    margin: 170px 0px 15px -50px;
  }
  .sliderBody {
    color: #000 !important;
    font-weight: 500;
    font-size: 23px;
    margin: 0px 0px 40px -50px;
  }
  .regularPrice {
    color: #ffa9c2 !important;
    font-weight: 500;
    font-size: 50px;
  }
  .p-question {
    font-weight: 500;
    font-size: 16px;
    padding: 15px 0px 0px 0px;
    margin-bottom: -5px;
  }
  .radioB {
    color: #000 !important;
    font-size: 14px !important;
  }
  .regimesContent {
    padding: 5px 10px 5px 10px;
    font-size: 16px !important;
  }
  .blueText {
    font-size: 16px;
    color: #5e83fc !important;
    padding: 15px 0px 15px 0px;
  }
  h5 {
    font-size: 28px !important;
  }
  .checkBT {
    margin: 50px 0px 40px 0px;
    text-indent: -10px;
    padding-left: 10px;
    text-align: center;
  }
  .healthyChange {
    margin: 10px -15px 10px -15px;
    font-size: 14px;
  }
  .healthyChanges {
    margin: 3px -15px 10px -15px;
    font-size: 14px;
  }
  .footer {
    background-color: #000;
    color: #fff;
    height: 85px;
  }
  .payPara {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
  }
  .payData {
    font-size: 18px;
    font-weight: 500;
    color: #111;
  }
  .payDataRegular {
    font-size: 18px;
    font-weight: 400;
    color: #666;
  }
  .cc {
    font-size: 16px;
  }
  .socialIcons {
    margin: 50px 0px -15px 0px;
  }
  .socialIconsT {
    margin: 0px 0px 30px 0px;
  }
  .instagram {
    margin-left: 80px;
  }
  .facebook {
    margin-left: -50px;
  }
  .phone {
    margin-left: -180px;
  }
  .header-box {
    float: left;
    background-color: #5e83fc;
    height: 33px;
    width: 150px;
  }
  .separator {
    text-align: center;
    margin-right: 200px;
  }
  .buttons {
    background-color: Transparent;
    border: 2px solid #5e83fc;
    border-radius: 30px;
  }
  .buttons-c {
    background-color: #5e83fc;
    color: #fff;
    border-radius: 30px;
  }
  .buttons-c:hover {
    background-color: #5e83fc;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .btnSlider {
    background-color: #5e83fc;
    border-radius: 30px;
    padding: 0px 40px 0px 40px;
    margin: 30px 0px 20px -50px;
  }
  .thankYouH {
    font-weight: 500;
    font-size: 25px;
    margin: -10px 0px 10px 0px;
    color: #40a049;
  }
  .thankYouE {
    font-weight: 500;
    font-size: 25px;
    margin: -10px 0px 10px 0px;
    color: #ff312c;
  }
  .thankYouB {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #b3b3b3 !important;
  }
  .thankYouP {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-top: 30px;
  }
  .thankYouBB {
    margin-top: 40px;
    background-color: #5e83fc;
    border-radius: 30px;
  }
}

/* Tablet only */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .logoS {
    z-index: 9999;
    position: absolute;
    top: 15px;
    left: 5px;
  }
  h2 {
    color: #000 !important;
    font-weight: 500;
    font-size: 24px;
    margin: 60px 0 60px 0px;
  }
  h3 {
    color: #5e83fc !important;
    margin-top: -10px;
    font-weight: 500;
    font-size: 24px;
  }
  .cc {
    font-size: 11px !important;
  }
  .delPrice {
    font-size: 25px !important;
    font-weight: 500;
    margin: 0px 0px -9px 0px;
  }
  .tabletSlider {
    height: 100vh;
    top: -5px;
    left: -5px;
  }
  .sliderTitle {
    color: #000 !important;
    font-weight: 700;
    font-size: 23px !important;
    margin-top: 380px;
  }
  .sliderBody {
    color: #000 !important;
    font-weight: 500;
    font-size: 19px !important;
  }
  .about-me-p {
    margin-top: -20px;
    font-size: 14px;
  }
  .regularPrice {
    color: #ffa9c2 !important;
    font-weight: 500;
    font-size: 40px;
  }
  .card.horizontal .card-image img {
    height: auto;
  }
  .p-question {
    font-weight: 500;
    font-size: 16px;
    padding: 15px 0px 0px 0px;
    margin-bottom: -5px;
  }
  .radioB {
    color: #000 !important;
    font-size: 14px !important;
  }
  .regimesContent {
    padding: 0px 10px 0px 10px;
    font-size: 14px !important;
  }
  .blueText {
    font-size: 14px;
    color: #5e83fc !important;
    padding: 5px 0px 5px 0px;
  }
  .checkBT {
    margin: 50px 0px 40px 0px;
    text-indent: -10px;
    padding-left: 10px;
    text-align: center;
  }
  .hCT {
    margin: 3px -15px 0px -15px !important;
    font-size: 12px;
  }
  .healthyChange {
    margin: 10px -15px 10px -15px;
    font-size: 12px;
  }
  .healthyChanges {
    margin: 3px -15px 10px -15px;
    font-size: 12px;
  }
  .footer {
    background-color: #000;
    color: #fff;
    height: 65px;
  }
  .payPara {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
  }
  .payData {
    font-size: 18px;
    font-weight: 500;
    color: #111;
  }
  .payDataRegular {
    font-size: 18px;
    font-weight: 400;
    color: #666;
  }
  .cc {
    font-size: 14px;
  }
  .socialIcons {
    margin: 50px 0px -15px 0px;
  }
  .socialIconsT {
    margin: 0px 0px 30px 0px;
  }
  .instagram {
    margin-left: 50px;
  }
  .facebook {
    margin-left: -50px;
  }
  .phone {
    margin-left: -150px;
  }
  .header-box {
    float: left;
    background-color: #5e83fc;
    height: 33px;
    width: 100px;
  }
  .separator {
    text-align: center;
    margin-right: 100px;
  }
  .buttons {
    background-color: Transparent;
    border: 2px solid #5e83fc;
    border-radius: 30px;
    margin: -10px 0px -10px 0px;
  }
  .buttons-c {
    background-color: #5e83fc;
    color: #fff;
    border-radius: 30px;
    margin: -20px 0px -10px 0px;
  }
  .buttons-c:hover {
    background-color: #5e83fc;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .btnSlider {
    background-color: #5e83fc;
    border-radius: 30px;
    padding: 0px 40px 0px 40px;
    margin-top: 30px;
  }
  .thankYouH {
    font-weight: 500;
    font-size: 25px;
    margin: -10px 0px 10px 0px;
    color: #40a049;
  }
  .thankYouE {
    font-weight: 500;
    font-size: 25px;
    margin: -10px 0px 10px 0px;
    color: #ff312c;
  }
  .thankYouB {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #b3b3b3 !important;
  }
  .thankYouP {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-top: 30px;
  }
  .thankYouBB {
    margin-top: 40px;
    background-color: #5e83fc;
    border-radius: 30px;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .logo {
    z-index: 9999;
    position: absolute;
    top: 5px;
    left: 0px;
  }
  h2 {
    color: #000 !important;
    font-weight: 500;
    font-size: 18px;
    margin: 30px 80px 30px 0px;
  }
  .spanS {
    margin-left: 65px;
  }
  h3 {
    color: #5e83fc !important;
    margin-top: -10px;
    font-weight: 500;
    font-size: 22px;
  }
  h5 {
    text-align: center;
    font-size: 20px !important;
    font-weight: 500;
  }
  p {
    font-size: 12px;
  }
  .sliderTitleS {
    color: #000 !important;
    font-weight: 700;
    font-size: 20px;
    margin: 230px 0px 15px 0px;
  }
  .sliderBodyS {
    color: #000 !important;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 0px 40px 0px;
  }
  .about-me-p {
    font-size: 12px;
    padding: 0px 30px 0 30px;
  }
  #recentIll {
    line-height: 13px;
  }
  .header-box {
    float: left;
    background-color: #5e83fc;
    height: 18px;
    width: 70px;
  }
  .healthyChange-s {
    margin: 10px -15px 10px -15px;
    font-size: 14px;
  }
  .footer {
    background-color: #000;
    color: #fff;
    height: 70px;
  }
  .regularPrice {
    color: #ffa9c2 !important;
    font-weight: 500;
    font-size: 45px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .regimesContent {
    padding: 5px 10px 5px 10px;
    font-size: 14px !important;
  }
  .blueText {
    font-size: 14px;
    color: #5e83fc !important;
    padding: 15px 0px 15px 0px;
  }
  .checkBT {
    margin: 40px 0px 40px 0px;
  }
  .checkDiv {
    margin-top: 7px;
  }
  .p-question {
    font-weight: 500;
    font-size: 14px;
    padding: 15px 0px 0px 0px;
    margin-bottom: -5px;
  }
  .radioB {
    color: #000 !important;
    font-size: 12px !important;
  }
  .cc {
    font-size: 12px;
  }
  .socialIcons {
    margin: 50px 0px -15px 0px;
  }
  .socialIconsThanks {
    margin: 0px 0px 15px 0px;
  }
  .buttons {
    background-color: Transparent;
    border: 2px solid #5e83fc;
    border-radius: 30px;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  .buttons-c {
    background-color: #5e83fc;
    color: #fff;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .buttons-c:hover {
    background-color: #5e83fc;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .btnSlider {
    background-color: #5e83fc;
    border-radius: 30px;
    padding: 0px 40px 0px 40px;
  }
  .thankYouH {
    font-weight: 500;
    font-size: 20px;
    margin: -15px 0px 10px 0px;
    color: #40a049;
  }
  .thankYouE {
    font-weight: 500;
    font-size: 20px;
    margin: -15px 0px 10px 0px;
    color: #ff312c;
  }
  .thankYouB {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: #b3b3b3;
  }
  .thankYouP {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #000;
  }
  .thankYouBB {
    margin-top: 40px;
    background-color: #5e83fc;
    border-radius: 30px;
  }
  .payPara {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 20px 0px;
  }
  .payData {
    font-size: 14px;
  }
  .checkDivs {
    margin-bottom: 20px;
  }
}
.svgImages {
  display: block;
  margin: 20px auto 20px auto;
}
.topSliders {
  height: 100vh;
  top: -5px;
  left: -5px;
}
.bottomSlider {
  top: -5px;
  left: -5px;
}

.arrowLeft {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 10px;
  color: #b3b3b3;
}
.arrowRight {
  z-index: 9999;
  position: absolute;
  top: 50%;
  right: 10px;
  color: #b3b3b3;
}

.arrowLeftS {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 0px;
  color: #b3b3b3;
}
.arrowRightS {
  z-index: 9999;
  position: absolute;
  top: 50%;
  right: 0px;
  color: #b3b3b3;
}

.about-me-img {
  border-radius: 30px;
  width: 100%;
  height: auto;
}
.aboutMobileImg {
  margin: -5px 50px 30px 50px;
}
.payDatas {
  color: #666;
}
.carBig {
  margin: -200px 50px 0px -70px;
}
.carSmall {
  margin: -150px 0px -80px 0px;
}
.cardsT,
.cardsR,
.cards,
.carouselCards-s {
  border-radius: 30px;
}
.card-content-list {
  color: #111 !important;
  font-size: 14px;
}
.logoS {
  display: none;
}
.logoFooter {
  margin: 10px 0px 0px 12px;
}
.footerS {
  margin: 25px 12px 0px 0px;
  float: right;
}

.buttons:hover,
.buttons2:hover {
  background-color: #5e83fc;
}
.ppParagraphs {
  margin: 15px 0px 15px 0px;
  font-size: 14px;
}
.ppHeaders {
  margin: 20px 0px 20px 0px;
  font-size: 18px;
  font-weight: 500;
}
.buttons2 {
  background-color: Transparent;
  border: 2px solid #5e83fc;
  color: #000;
  margin-top: 10px;
  border-radius: 30px;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  text-transform: capitalize;
}
.buttons2s {
  color: #fff;
  background-color: #5e83fc;
  border-radius: 30px;
  font-size: 15px;
  padding: 0px 40px 0px 40px;
  text-transform: capitalize;
}
.buttons2pay {
  color: #fff;
  background-color: #5e83fc;
  border-radius: 30px;
  font-size: 15px;
  padding: 0px 50px 0px 50px;
}
.thankYouBB:hover,
.btnSlider:hover,
.buttons2pay:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #5e83fc;
}

.buttons3 {
  background-color: Transparent;
  color: #b3b3b3;
  margin-top: 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.buttons3:hover {
  background-color: Transparent;
}
.bordered {
  border-bottom: 3px solid #fff;
}
.waves-dark:hover {
  background-color: #5e83fc;
}
.waves-dark:focus {
  background-color: #5e83fc;
}
#submit-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #5e83fc;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkB,
.tabs-pp,
.collapsible-body {
  color: #000 !important;
  font-size: 14px;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label focus color */
.input-field input[type="email"]:focus + label {
  color: #000;
}
/* label focus color */
.input-field input[type="number"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
  box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type="email"]:focus {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
  box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type="number"]:focus {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #40a049;
  -webkit-box-shadow: 0 1px 0 0 #40a049;
  box-shadow: 0 1px 0 0 #40a049;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #ff312c;
  -webkit-box-shadow: 0 1px 0 0 #ff312c;
  box-shadow: 0 1px 0 0 #ff312c;
}
[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::after {
  background-color: #5e83fc !important;
}
[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::before,
[type="radio"].with-gap:checked + label::after {
  border: 1px solid #5e83fc !important;
}
[type="checkbox"] {
  border: 1px solid #111;
  background: transparent;
}
[type="checkbox"] + label:before {
  border: 1px solid #b3b3b3;
  background: transparent;
}
[type="checkbox"]:checked + label:before {
  border: 1px solid transparent;
  border-bottom: 1px solid #5e83fc;
  border-right: 1px solid #5e83fc;
  background: transparent;
}
.tabletSlider {
  display: none;
}
.filled-in[type="checkbox"] + label:after {
  border: 1px solid #5e83fc;
  background: transparent;
}
.filled-in[type="checkbox"]:checked + label:after {
  background: #5e83fc;
}
.filled-in[type="checkbox"]:checked + label:before {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.p-foods {
  font-weight: 500;
  margin-top: 55px;
  font-size: 18px;
  text-align: center;
}

.step-title {
  font-weight: 500;
  font-size: 16px;
}
ul.stepper:not(.horizontal) .step.active::before,
ul.stepper:not(.horizontal) .step.done::before {
  background-color: #5e83fc !important;
}
ul.stepper.horizontal .step.active::before,
ul.stepper.horizontal.step.done::before,
ul.stepper.horizontal .step.active .step-title::before,
ul.stepper.horizontal .step.done .step-title::before {
  background-color: #5e83fc !important;
}
#beforeSport,
#allergiesFood,
#acneFood,
.warning-div {
  display: none;
  margin-top: 40px;
}
